body
{
	background-color: #B1B1B1;
}

.container
{
    margin: auto;

}

/* Header */
.bordure-top
{
	background-color: #2A3495;
	height: 70px;
	width: 100%;
	
}

/* Footer */
footer
{
	margin-top: 15%;
	
}

.bordure-top
{
	background-color: #2A3495;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 100;
}

#ajout {
	background-color: rgb(211, 98, 98);
	border: 1px solid black;
	height: auto;
	width: 100%;
}

.zoneQuestPlus {
	background-color: pink;
	border: 1px solid black;
	color: white;
	height: 25px;
	text-align: center;
	width: 25px;
}

#zoneQuestRep {
	border: 1px solid black;
}

#toto {
	background-color: yellow;
	border: 1px solid black;
	height: auto;
	margin: 1%;
}

.question {
	background-color: green;
	border: 1px solid black;
	margin: 1%;
	padding: 1%;
}

.reponse {
	background-color: blue;
	border: 1px solid black;
	margin: 1%;
	padding: 1%;
}

.repPlus {
	background-color: chartreuse;
	border: 1px solid black;
	color: white;
	height: 25px;
	text-align: center;
	width: 25px;
}

.text-bold
{
	font-weight: bold;
}

.text-italic
{
	font-style: italic;
}

.puce-none
{
	list-style-type: none;
}
<<<<<<< HEAD
.card {
margin: 5%;
}
button {
	margin-top: 3%;
=======
table {
	border: solid black 2px;
	margin: 0.5%;
}

.erreur /* Message d'erreur */
{
	color: red;
	font-weight: bold;
>>>>>>> 36f7220b6f4cd03594aa0e402124792bea4ab842
}